* {
    box-sizing: border-box;
    /*padding: 0;
    margin: 0;*/
}
body {
    text-align: center;
}
table{
    margin: auto;
}
p{
    max-width: 800px;
    margin: auto;
}
table, th, td {
    border: 1px solid black;
}
td{
    max-width: 800px;
    padding: 10px;
}
fieldset{
    margin: auto;
    max-width: 1000px;
}

.Reflection{
    p{
        padding: 10px;
    }
}