* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#body {
    width: 100%;
    overflow: hidden;
    animation: slide-left 3s;
}


@keyframes slide-left {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

footer {
    width: 100%;
    padding: 3px;
    background-color: black;
    bottom: 0;
    color: red;
}